<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="Charging Wear Graphic" src="/assets/img/charging_wear/feature_graphic.png">
	</div>
	<div class="title">
		<h1>Charging Wear</h1>
	</div>
	<div class="subtitle">
		<h4>Control what your Android Wear smartwatch does while it's charging</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Alenoi Icon" src="/assets/img/charging_wear/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.bkmobiledevelopment.chargingwear">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>
		</div>
	</div>

</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>Charging Wear allows you to control how your smartwatch acts when it's charging. Normally, most Android wear devices do nothing but bring up a bright screen displaying the time and charging percentage. The feature can be annoying if you prefer sleeping without a nightlight and has the potential to cause screen burn.</p>
			<p>Charging Wear has a simple but elegant solution to this dilemma.</p>
			<p>To combat the charging screen issue, Charging Wear will show a completely black screen on your smartwatch whenever you plug your device in. This will allow for a peaceful, dark setting wherever you are charging your watch. The application also has the ability to turn off your watch's Bluetooth when it is charging. This ensures that the watch will not be connected to your phone when it is charging, because who wants their watch to vibrate when it's not on their wrist? Charging Wear also has the ability to take on many other features, simply email me if you have a request or any feedback!</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/charging_wear/screenshots/2.png" alt="Screenshot 1">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>FEATURES</h2>
			<ul>
				<li>Display dark screen while watch is charging</li>
				<li>Toggle Bluetooth while watch is charging</li>
			</ul>
		</div>
	</div>
</div>

<div class="links" id="bottom-links">
	<h4>Download Charging Wear for free</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.bkmobiledevelopment.chargingwear">
			<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
		</a>
	</div>

	<h4>View source</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/charging-wear-android">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/charging-wear">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
