<div id="headers">
	<div class="title">
		<h1>Six Sided Simulations</h1>
	</div>
	<div class="subtitle">
		<h4>A site for viewing products and info by Six Sided Simulations</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Alenoi Icon" src="/assets/img/sixsided.com/icon.png">
	</div>
	<div class="links">
		<a href="http://sixsided.com"><h4>Browse</h4></a>
	</div>
</div>

<div id="description" class="container-fluid">

	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>FLAG SHEETS</h2>
			<p>Six Sided Simulations is the manufacturer and distributor of 8.5 by 11 inch sheets of adhesive miniature flags for all scales, from 5mm up to 30mm. Optionally, custom sheets may be ordered for scales larger than 30 mm, such as 54mm, 80mm or 120mm scale models. Our current selection includes 5-6mm, 10mm (good for 8-12mm miniatures); 15mm, 18-20mm, 25mm, and 28-30mm. Each page has as many flags as will fit on a 8*10 inch sheet of paper, from 24 flags at 30mm to 864 flags at 5/6mm.</p>
		</div>
	</div>

	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>VEX CARD GAME</h2>
			<p>Six Sided Simulations is pleased to introduce VEX, the first collectible card game (or CCG) for one or more players with a theme of flags. VEX (from the word Vexillology, the study of flags) is actually a set of games using the same full color flag cards as a base. Each card of VEX contains over a dozen pieces of information about the flag of a single political entity. In the first set, VEX I, the cards are boxed in decks of 60 flags taken randomly from a population of 200 nations of the world. VEX II expands the population with 200 new images of states and provinces, also packaged 60 random cards per box. VEX III adds even more cards with 200 new images of historical flags from around the world. VEX IV returns to the subnationals, with 200 new images of cantons and prefectures, also packaged 60 per box. The latest edition VEX V adds even more cards with 200 new images of international flags from around the world.</p>
		</div>
	</div>
</div>

<div class="links" id="bottom-links">
	<h4>Browse now</h4>
	<div class="badge-container">
		<a target="_blank" href="http://sixsided.com">
			<img alt="Browse on sixsided.com" src="/assets/img/sixsided.com/icon.png">
		</a>
	</div>

	<h4>View source</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/sixsided.com">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/sixsided.com">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
