<link href="/assets/css/circuit-background.css" rel="stylesheet">

<div id="top-background"></div>
<div id="circuit-background"></div>
<div id="top-div">

	<div class="logo" id="top-logo" href="/contact">
		<img alt="My logo" src="/assets/img/logo.png">
	</div>

	<div class="subtitle" id="top-subtitle">
		<h3>Creating powerful applications since 2011</h3>
	</div>

</div>

<!--
######################################### ANDROID #########################################
  -->
<div class="project-section" id="android">
	<h1 class="section-title">Android</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project ratfink">
				<a class="project-link" ratfink="ratfink">
					<div class="project-icon">
						<img alt="Ratfink Card Game" src="/assets/img/ratfink/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Ratfink Card Game</h3>
					</div>
					<div class="project-subtitle">A combination of poker and bridge that's easy to learn and fun to play</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project music-home">
				<a class="project-link" href="music-home">
					<div class="project-icon">
						<img alt="Music Home" src="/assets/img/music_home/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Music Home</h3>
					</div>
					<div class="project-subtitle">Never be forced to power your screen on again</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project rss-wallpaper">
				<a class="project-link" href="rss-wallpaper">
					<div class="project-icon">
						<img alt="RSS Wallpaper" src="/assets/img/rss-wallpaper/icon.png"> 
					</div>
					<div class="project-title">
						<h3>RSS Wallpaper</h3>
					</div>
					<div class="project-subtitle">Download images in any RSS feed and see new wallpapers throughout the day</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project ping-servers">
				<a class="project-link" href="ping-servers">
					<div class="project-icon">
						<img alt="Ping Server" src="/assets/img/ping-servers/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Ping Server</h3>
					</div>
					<div class="project-subtitle">Receive instant notifications when websites or servers are unreachable</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project wbc">
				<a class="project-link" href="wbc">
					<div class="project-icon">
						<img alt="WBC" src="/assets/img/wbc/icon.png"> 
					</div>
					<div class="project-title">
						<h3>WBC</h3>
					</div>
					<div class="project-subtitle">The official application of the World Boardgaming Championships</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project prezcon">
				<a class="project-link" href="prezcon">
					<div class="project-icon">
						<img alt="Prezcon" src="/assets/img/prezcon/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Prezcon</h3>
					</div>
					<div class="project-subtitle">The official application of the Prezcon Winter Nationals</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project roku">
				<a class="project-link" href="roku">
					<div class="project-icon">
						<img alt="Roku" src="/assets/img/roku/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Roku</h3>
					</div>
					<div class="project-subtitle">Control all functions of Roku devices and TVs from any Android phone or watch</div>
				</a>
			</div>
		</div>
	</div>
</div>



<!--
######################################### IOS #########################################
  -->
<div class="project-section" id="ios">
	<h1 class="section-title">iOS</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project ratfink">
				<a class="project-link" href="ratfink">
					<div class="project-icon">
						<img alt="Ratfink Card Game" src="/assets/img/ratfink/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Ratfink</h3>
					</div>
					<div class="project-subtitle">A combination of poker and bridge that's easy to learn and fun to play</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project music-home">
				<a class="project-link" href="music-home">
					<div class="project-icon">
						<img alt="Music Home" src="/assets/img/music_home/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Music Home</h3>
					</div>
					<div class="project-subtitle">Stylish watch face with date, battery, schedule, weather, and health</div>
				</a>
			</div>
		</div>
	</div>
</div>


<!--
######################################### ANDROID WEAR #########################################
  -->
<div class="project-section" id="android-wear">
	<h1 class="section-title">Android Wear</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project omega">
				<a class="project-link" href="omega">
					<div class="project-icon">
						<img alt="Omega Watch Face" src="/assets/img/omega/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Omega</h3>
					</div>
					<div class="project-subtitle">Stylish watch face with date, battery, schedule, weather, and health</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project notro">
				<a class="project-link" href="notro">
					<div class="project-icon">
						<img alt="Notro Watch Face" src="/assets/img/notro/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Notro</h3>
					</div>
					<div class="project-subtitle">Stylish watch face with date, battery, schedule, weather, and health</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project alenoi">
				<a class="project-link" href="alenoi">
					<div class="project-icon">
						<img alt="Alenoi Watch Face" src="/assets/img/alenoi/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Alenoi</h3>
					</div>
					<div class="project-subtitle">Stylish watch face with date, battery, schedule, weather, and health</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project charging-wear">
				<a class="project-link" href="charging-wear">
					<div class="project-icon">
						<img alt="Charging Wear" src="/assets/img/charging_wear/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Charging Wear</h3>
					</div>
					<div class="project-subtitle">Control what your Android Wear smartwatch does while it's charging</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project roku">
				<a class="project-link" href="roku">
					<div class="project-icon">
						<img alt="Roku" src="/assets/img/roku/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Roku</h3>
					</div>
					<div class="project-subtitle">Control all functions of Roku devices and TVs from any Android phone or watch</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!--
######################################### WEB #########################################
  -->
<div class="project-section" id="web">
	<h1 class="section-title">Web</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project view-recipes">
				<a class="project-link" href="view-recipes">
					<div class="project-icon">
						<img alt="View Recipes" src="/assets/img/view-recipes/icon.png"> 
					</div>
					<div class="project-title">
						<h3>View Recipes</h3>
					</div>
					<div class="project-subtitle">Search for, filter, and transform recipes</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project sixsided">
				<a class="project-link" href="sixsided">
					<div class="project-icon">
						<img alt="Six Sided Simulations" src="/assets/img/sixsided.com/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Six Sided Simulations</h3>
					</div>
					<div class="project-subtitle">A site for viewing products and info by Six Sided Simulations</div>
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project kevin.broh-kahn.com">
				<a class="project-link" href="website">
					<div class="project-icon">
						<img alt="Alenoi Watch Face" src="/assets/img/kevin.broh-kahn.com/icon.png"> 
					</div>
					<div class="project-title">
						<h3>kevin.broh-kahn.com</h3>
					</div>
					<div class="project-subtitle">A site for displaying all of the projects and applications I have created</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!--
######################################### OTHER #########################################
  -->
<!-- <div class="project-section" id="other">
	<h1 class="section-title">Other</h1>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="project view-recipes">
				<a class="project-link" href="view-recipes">
					<div class="project-icon">
						<img alt="View Recipes" src="/assets/img/power_grid/icon.png"> 
					</div>
					<div class="project-title">
						<h3>Power Grid</h3>
					</div>
					<div class="project-subtitle">Information on Power Grid tournament at the World Boardgaming Championships</div>
				</a>
			</div>
		</div>
	</div>
</div> -->

<script src="/assets/js/circuit-background-script.js" type="text/javascript"></script>
