<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="Ratfink Graphic" src="/assets/img/ratfink/feature_graphic.jpg">
	</div>
	<div class="title">
		<h1>Ratfink</h1>
	</div>
	<div class="subtitle">
		<h4>A combination of poker and bridge that's easy to learn and fun to play</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Ratfink Icon" src="/assets/img/ratfink/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.play2think.ratfink">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>

			<a target="_blank" class="apple-badge" href="https://itunes.apple.com/us/app/ratfink/id1133783210">
				<img alt="Find in App Store" src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
			</a>
		</div>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>Ratfink is a trick taking card game and a fun and easy way learn the basics of the bridge card game!</p>
			<p>Do you enjoy strategy, card games, or math? Do you want to learn card statistics or the basics of bridge such as bidding and trick taking? Even if you just want to play an enjoyable thought-oriented game, you should try Ratfink! Take our tutorial and you will know everything you need to know about Ratfink in less than 5 minutes!</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/ratfink/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>FEATURES</h2>
			<ul>
				<li>Play games with hands from as little as 1 card to as many as 13</li>
				<li>Play against 1, 2, or 3 robot opponents</li>
				<li>Select your game's difficulty</li>
				<li>Take a tutorial to learn the basics of bidding and trick taking in Ratfink</li>
				<li>Arrange the way the suits are ordered in your hand</li>
				<li>Customize the game to your liking</li>
			</ul>
		</div>
	</div>

</div>

<div class="links" id="bottom-links">
	<h4>Download Ratfink for free</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.play2think.ratfink">
			<img alt="Get it on Google Play" src="/assets/img/en_generic_rgb_wo_45.png" />
		</a>

		<a target="_blank" class="apple-badge" href="https://itunes.apple.com/us/app/ratfink/id1133783210">
			<img alt="Find in App Store" src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
		</a>
	</div>

	<h4>Purchase full version (iOS)</h4>
	<div class="badge-container">
		<a target="_blank" class="apple-badge" href="https://itunes.apple.com/us/app/ratfink/id1133774261">
			<img alt="Find in App Store" src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
		</a>
	</div>

	<h4>Request Android source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/ratfink-android">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/ratfink-android">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>

	<h4>Request iOS source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/ratfink-ios">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/ratfink-ios">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
