<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="Alenoi Graphic" src="/assets/img/alenoi/feature_graphic.png">
	</div>
	<div class="title">
		<h1>Alenoi Watch Face</h1>
	</div>
	<div class="subtitle">
		<h4>Stylish watch face with date, battery, schedule, weather, and health.</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Alenoi Icon" src="/assets/img/alenoi/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.brohkahn.alenoiwatchface">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>
		</div>
		<a href="https://play.google.com/apps/testing/com.brohkahn.alenoiwatchface"><h4>**New: Open Beta Opt-In**</h4></a>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>Feel like the best secret agent while sporting the Alenoi watch face. You'll be able to leave your phone in your pocket as Alenoi will tell you every necessary detail you need to get through your day. By knowing your schedule with such details at a moment's glance, your friends might even think you to be a supernatural spy!</p>
			<p>Alenoi is the most complete watch face for your Android Wear device. When fully utilized, Alenoi will tell you the time, date, weather, battery level of your devices, and your current fitness data. What follows is a list of all of Alenoi's fully customizable features:</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/alenoi/screenshots/5.png" alt="Screenshot 5">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>FULLY CUSTOMIZEABLE</h2>
			<p>Every one of Alenoi's features/elements is completely optional and can be modified to your liking, here is what you can do to each element individually</p>
			<ul>
				<li>Show/hide element*</li>
				<li>Change text size</li>
				<li>Change font</li>
				<li>Text color</li>
				<li>Vertical position*</li>
				<li>Text alignment</li>
				<li>Toggle icon</li>
				<li>Change icon side</li>
			</ul>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>SCHEDULE</h2>
			<ul>
				<li>Alenoi's wearable app will read the calendars that are on your wear device to determine your next event</li>
				<li>Choose the interval at which to check for new events</li>
				<li>As soon as your current event has ended, Alenoi will look for the next event</li>
				<li>Choose how long in the future you want to look: check for event in the next 2 hours or the next 1 week</li>
				<li><i>Note: Requires READ_CALENDAR permission</i></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/alenoi/screenshots/2.png" alt="Screenshot 2">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/alenoi/screenshots/3.png" alt="Screenshot 3">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>BATTERY</h2>
			<ul>
				<li>Show battery from your watch and/or phone in the battery meters</li>
				<li>Choose the interval at which to poll the battery level of your devices</li>
				<li>Optionally show the exact battery life at the bottom of the screen*</li>
				<li>Use the battery life monitors on the watch face display approximate battery life (within 10% to 18%)</li>
				<li>Optionally show only the current health block in ambient mode to reduce screen burn-in and brightness</li>
			</ul>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>WEATHER</h2>
			<ul>
				<li>Alenoi's handheld app will get current weather information from Dark Sky</li>
				<li>Choose from a variety of details to show: the day's high &amp; low, wind speed &amp; direction, sunrise &amp; sunset*</li>
				<li>Use imperial / metric units</li>
				<li><i>Note: Requires ACCESS_FINE_LOCATION and INTERNET permission</i></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/alenoi/screenshots/4.png" alt="Screenshot 4">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/alenoi/screenshots/5.png" alt="Screenshot 5">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>HEALTH</h2>
			<ul>
				<li>Alenoi's wearable and/or mobile app will read the Google Fit data from your device</li>
				<li>Choose from a variety of retrieval methods: Google Fit data or sensor data from phone or watch</li>
				<li>Choose the interval at which to update fitness data</li>
				<li><i>Note: May require BODY_SENSOR permission</i></li>
			</ul>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>DATE &amp; TIME</h2>
			<ul>
				<li>Of course...</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/alenoi/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>Feature Requests</h2>
			<p>If you have a small feature request (i.e. configuration change) for this watch face, please send and email to <a href="mailto:kevin@broh-kahn.com">kevin@broh-kahn.com</a> and we will work to complete your request within 1 week. Larger requests may take more time. If you would like us to design a new watch face with all the functionality of Alenoi, please get in touch and we'll work with you to design a well-designed and functional watch face.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>Problems with Alenoi?</h2>
			<p>Our goal was to create a complete and fully functional, usable, power efficient watch face. If you do not think that our mission was a success, please send an email to <a href="mailto:kevin@broh-kahn.com">kevin@broh-kahn.com</a> with your issues and we will get back to you as quickly as possible. If you have an issue with the application, please do not leave a negative review or uninstall the app; <a href="mailto:kevin@broh-kahn.com">contact us</a> and we will do our best to thoroughly fix your issue within 3 days.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>Premium Version</h2>
			<p>*Note: some elements require paid version. Purchase the paid version for only $1.99 at <a href="https://play.google.com/store/apps/details?id=com.brohkahn.alenoi">https://play.google.com/store/apps/details?id=com.brohkahn.alenoi</a>.</p>
		</div>
	</div>
</div>

<div class="links" id="bottom-links">
	<h4>Download Alenoi for free</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.brohkahn.alenoiwatchface">
			<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
		</a>
	</div>

	<h4>Purchase full version</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.brohkahn.alenoi">
			<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
		</a>
	</div>

	<h4>Request source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/alenoi-watch-face">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
<!-- 		<a target="_blank" href="https://github.com/kbrohkahn/Alenoi-Watch-Face">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
