#headshot {top: 50%; left: 50%; margin-left: -100px; margin-top: -100px; z-index: 13;}
#headshot,
#headshot img,
#headshot div {position: absolute; width: 200px; height: 200px; border-radius: 100px;}
#headshot div {background: #efefef; opacity: 0; text-align: center; line-height: 200px;}

.home-span { position: absolute; opacity: .8; }
.home-span { z-index: 11; border: solid;}
.home-span + span {position: absolute; z-index: 12;}
.home-span + span ul {list-style: none; padding-left: 0;}
.left-triangle-span {left: 0; top: 0; border-right-color: transparent; border-top-color: #fff; border-left: none; border-bottom: none;}
.right-triangle-span {right: 0; bottom: 0; border-left-color: transparent; border-bottom-color: #b6c3e2; border-right: none; border-top: none; }

.right-triangle-span + span ul {text-align: right;}
.right-triangle-span + span .app-link {margin-right: 0px; margin-left: 4px}

@media screen and (min-width: 1024px) {
	.left-triangle-span {border-right-width: 700px; border-top-width: 700px}
	.right-triangle-span {border-left-width: 700px; border-bottom-width: 700px}

	.left-triangle-span + span {left: 70px; top: 120px; }
	.right-triangle-span + span {right: 70px; bottom: 120px; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.left-triangle-span {border-right-width: 600px; border-top-width: 600px}
	.right-triangle-span {border-left-width: 600px; border-bottom-width: 600px}

	.left-triangle-span + span {left: 50px; top: 100px;}
	.right-triangle-span + span {right: 50px; bottom: 100px;}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
	.left-triangle-span {border-right-width: 500px; border-top-width: 500px}
	.right-triangle-span {border-left-width: 500px; border-bottom-width: 500px}

	.left-triangle-span + span {left: 30px; top: 80px;}
	.right-triangle-span + span {right: 30px; bottom: 80px;}
}

@media screen and (max-width: 639px) {
	#headshot {margin-left: -75px; margin-top: -75px;}
	#headshot,
	#headshot img,
	#headshot div { height: 150px; width: 150px;  border-radius: 75px;}

	.left-triangle-span {border-right-width: 400px; border-top-width: 400px}
	.right-triangle-span {border-left-width: 400px; border-bottom-width: 400px}

	.left-triangle-span + span {left: 10px; top: 60px;}
	.right-triangle-span + span {right: 10px; bottom: 60px;}

	.navigation-links ul li {display: inline-block;}
	.navigation-links ul li .app-link > span {display: none;}
}
