#headshot {position: absolute; top: 50%; left: 50%; margin-left: -100px; margin-top: -100px; z-index: 13; }

.home-span { position: absolute; opacity: .8; }
.home-span { z-index: 11; border: solid;}
.home-span + span {position: absolute; z-index: 12;}
.home-span + span ul {list-style: none; padding-left: 0;}
.left-triangle-span {left: 0; top: 0; border-right-color: transparent; border-top-color: #fff; border-left: none; border-bottom: none;}
.right-triangle-span {right: 0; bottom: 0; border-left-color: transparent; border-bottom-color: #b6c3e2; border-right: none; border-top: none; }

@media screen and (min-width: 1024px) {
	.left-triangle-span {border-right-width: 600px; border-top-width: 600px}
	.right-triangle-span {border-left-width: 600px; border-bottom-width: 600px}

	.left-triangle-span + span { left: 100px; top: 100px; }
	.right-triangle-span + span {right: 100px; bottom: 175px; }

	.navigation-links li a {margin: 16px 0;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.left-triangle-span {border-right-width: 500px; border-top-width: 500px}
	.right-triangle-span {border-left-width: 500px; border-bottom-width: 500px}

	.left-triangle-span + span {left: 50px; top: 75px;}
	.right-triangle-span + span {right: 50px; bottom: 150px;}

	.navigation-links li a {margin: 12px 0;}
}

@media screen and (min-width: 640px) and (max-width: 767px) {

	.left-triangle-span {border-right-width: 400px; border-top-width: 400px}
	.right-triangle-span {border-left-width: 400px; border-bottom-width: 400px}

	.left-triangle-span + span {left: 25px; top: 50px;}
	.right-triangle-span + span {right: 25px; bottom: 125px;}

	.navigation-links li a {margin: 8px 0;}
}

@media screen and (max-width: 639px) {
	#headshot {height: 150px; width: 150px; margin-left: -75px; margin-top: -75px; }

	.left-triangle-span {border-right-width: 400px; border-top-width: 400px}
	.right-triangle-span {border-left-width: 400px; border-bottom-width: 400px}

	.left-triangle-span + span {left: 10px; top: 25px;}
	.right-triangle-span + span {right: 10px; bottom: 100px;}

	.navigation-links li a {margin: 4px 0;}
}
