/* color HEX values in XML
<color name="brown">#AA6C39</color>
<color name="brown_lighter">#D49A6A</color>
<color name="brown_lightest">#FFD1AA</color>
<color name="brown_darker">#804515</color>
<color name="brown_darkest">#552600</color>

<color name="blue">#2E4272</color>
<color name="blue_lighter">#4F618F</color>
<color name="blue_lightest">#7887AB</color>
<color name="blue_darker">#162856</color>
<color name="blue_darkest">#061539</color>

<color name="green">#328A2E</color>
<color name="green_lighter">#5AAC56</color>
<color name="green_lightest">#8DCF8A</color>
<color name="green_darker">#166711</color>
<color name="green_darkest">#034500</color>
*/

html {background: white}
body {background: linear-gradient(#b6c3e2, #fff);}
div, ul, li, a {box-sizing: border-box;}
img {max-width: 100%;}

/* Various */
.large-margin-top {margin-top: 75px;}
.light-background {background: #edf0f8}

/* input row and group fix */
.input-row > div {margin-top: 15px;}
.input-group-addon {border-left: none;}

/* nav-tabs fix */
.nav-tabs.nav-justified {border-bottom: solid 1px #061539;}
.nav-tabs.nav-justified>li {vertical-align: bottom;}

/* Fonts and Text Colors */
#title,
h1,
h2 {font-family: "garamond", times, serif; color: #162856; font-weight: bold; ; }
h3,
h4,
h5,
h6 {font-family: verdana, sans-serif; color: #162856;}
div,
p,
em,
strong,
#subtitle,
a,
a:visited,
a:link {font-family: verdana, sans-serif;}
a,
a:visited,
a:link {color: #997c40;}




/* Font Styles */
h1 {margin-top: 0;}
h2 { text-align: center; margin-top: 2em;}
p {line-height: 1.4em; margin-bottom: 1em}
.subheader {font-size: 1.6em; margin: 1em 0;}

/* Helpers */
.center {text-align: center; margin: 0 auto;}
.left {float: left;}
.right {float: right;}
.description p,
.indented {text-indent: 32px;}
.clearfix:after {display: table; content: ''; clear: both;}
.hidden {display: none;}
.scroll-x {overflow-x: scroll;}
/*.container-no-padding {margin: 0 -15px;}*/

/* Navbar */
.navbar {background-color: #061539; border: none; z-index: 12}
.navbar .dropdown-menu ul {margin-left: 0;}
.navbar .dropdown-menu ul li {color: inherit;}

/* Navigation links (for index.py pages) */
.navigation-links h4 {margin-top: 0}
.navigation-links ul {display: table; margin: 0 auto;}
.navigation-links li {display: block;}
.navigation-links li a {display: table; margin: 4px 0;}
.navigation-links li a.no-icon {text-align: center; margin: 4px auto; }
.navigation-links li a span {display: table-cell; line-height: 32px;}

/*
* NEW
*/

.new-navigation-links {background-color: #061539; width: 100%;	}
.new-navigation-links > ul { width: 100%; list-style: none; padding: 0; margin-bottom: 0;}
.new-navigation-links > ul > li {width: 20%; float: left; position: relative;}
.new-navigation-links > ul > li > a {padding: 15px 0; width: 100%; text-align: center; line-height: 20px; color: #bfbfbf;display: block;}
.new-navigation-links > ul > li > a + ul {position: absolute; display: none; background-color: #223153; padding: 0; width: 200px; left: 50%; margin-left: -100px; top: 50px; z-index: 14;}
.new-navigation-links > ul > li > a + ul > li {display: block; text-align: center;}
.new-navigation-links > ul > li > a.active + ul,
.new-navigation-links > ul > li > a:hover + ul, 
.new-navigation-links > ul > li > a + ul:hover {display: block;}
.new-navigation-links > ul > li > a + ul > li,
.new-navigation-links > ul > li > a + ul > li > a {}
.new-navigation-links > ul > li > a + ul > li > a { color: #7c612a; display: block; padding: 15px;}

.new-navigation-links #toggle-button {position: fixed; right: 5px; top: 5px; z-index: 9;background-color: #7c612a; border-radius: 15px; display: none;}
.new-navigation-links #toggle-button img {width: 32px; height: 32px; ;}
.new-navigation-links.fixed {position: fixed; top: 0; z-index: 12;}




#headers {text-align: center; margin-top: 50px;}
#headers #feature-graphic,
#headers #feature-graphic img {width: 100%;}
#headers .title {margin: 100px 0 15px;}
#headers .subtitle {margin: 15px;}
#headers .links {margin: 15px 0 100px;}
#headers .logo { margin: 15px; }
#headers .logo img { margin: 0 auto; }



#description {}
#description h2 {margin-top: 0;}
#description .description-group {margin: 15px auto 85px;}
#description .description-group h2 {text-transform: uppercase;}
#description .description-group p {text-indent: 50px;}
#description .description-group p,
#description .description-group ul li {line-height: 30px;}
#description h2,
#description .screenshot {margin: 5px auto;}
#description .screenshot {margin: 0 auto;position: relative;}
#description .screenshot img {position: absolute;}

#description .screenshot.android-wear-screenshot {background: url("../img/android-wear-background.png"); width: 250px; height: 350px; }
#description .screenshot.android-wear-screenshot img { width: 230px; height: 230px; top: 60px; left: 10px;}

#description .screenshot.android-mobile-screenshot {background: url("../img/android-pixel-background.png"); width: 250px; height: 505px; }
#description .screenshot.android-mobile-screenshot img { width: 224px; height: 398px; top: 51px; left: 13px;}


#bottom-links {margin: 75px auto 50px; text-align: center;}
#bottom-links .badge-container { margin: 0 auto 50px; }











/*
index page
*/

#top-background {background: linear-gradient(#b6c3e2, #fff);height: 100vh; position: fixed;}
#top-div {position: relative; height: 100vh;}
#top-div div {position: absolute; text-align: center}
#top-div .logo { top: 25%; left: 50%; margin-left: -100px; margin-top: -100px; z-index: 11;}
#top-div .logo,
#top-div .logo img {width: 200px; height: 200px;}
#top-div .title {width: 100%; top: 15px;}
#top-div .subtitle {width: 100%; top: 45%;   }
#top-div .links { top: 70%; }

/*.new-navigation-links { position: absolute; top: 60%; background-color: rgba(6,21,57, .5);}*/


.project-section { padding: 25px; }
.project-section h2.section-title {margin: 150px 0 100px;}

.project-section#android-wear,
.project-section#android {background-color: rgba(119, 193, 89, .3);}
.project-section#ios {background-color: rgba(158,158,158, .3);}
.project-section#web {background-color: rgba(22,122,188, .3);}

.project { border: solid 3px rgba(0, 0, 0, .5); background-color: rgba(32, 32, 32, .5); text-align: center; margin-bottom: 30px;}
.project .project-link { padding: 15px; }
.project .project-link:hover { text-decoration: none;}
.project .project-icon { width: 200px; height: 200px; margin: 15px auto;}
.project .project-title { color: rgba(0, 0, 0, 1); }
.project .project-subtitle { color: rgba(0, 0, 0, 1);  height: 60px; }

.project.ratfink {background-color: rgba(50,138,46, .3); border-color: rgba(50,138,46, 1)}
.project.music-home {background-color: rgba(45,66,113, .3); border-color: rgba(45,66,113, 1)}
.project.rss-wallpaper {background-color: rgba(170,135,57, .3); border-color: rgba(170,135,57, 1)}
.project.ping-servers {background-color: rgba(0,63,111, .3); border-color: rgba(0,63,111, 1)}
.project.wbc {background-color: rgba(49,66,140, .3); border-color: rgba(49,66,140, 1)}
.project.prezcon {background-color: rgba(243,110,40, .3); border-color: rgba(243,110,40, 1)}

.project.omega {background-color: rgba(75,229,75, .3); border-color: rgba(75,229,75, 1)}
.project.notro {background-color: rgba(25,120,201, .3); border-color: rgba(25,120,201, 1)}
.project.alenoi {background-color: rgba(129,102,0, .3); border-color: rgba(129,102,0, 1)}
.project.charging-wear {background-color: rgba(6,21,57, .3); border-color: rgba(6,21,57, 1)}





/* Tables */
.table>tbody>tr>td {vertical-align: middle;}

.winner:nth-of-type(even) {background-color: #BFFFBF;}
.winner:nth-of-type(odd) {background-color: #E5FFE5;}
.alternate-high:nth-of-type(odd) {background-color: #FFFFBF;}
.alternate-high:nth-of-type(even) {background-color: #FFFFE5;}
.alternate-low:nth-of-type(odd) {background-color: #aaaaaa;}
.alternate-low:nth-of-type(even) {background-color: #cccccc;}

/* Social links */
.navigation-links .social-links li {margin-top: 8px; display: inline-block;}
.navigation-links .social-links li a { margin: 4px 8px;}

/* Footer */
#footer {width: 100%; text-align: center; margin: 2em auto 0; padding: 1em 0; position: relative; background: #b6c3e2;}
#footer p {font-size: .8em; margin: 0; }
#footer ul {margin: 0 0 1em; list-style: none; padding: 0; display: inline-block; font-size: .8em;}
#footer ul li {display: table-cell;}
#footer ul li a {margin: 1em; text-align: center; display: block;}

/* Home page */
.badge-container {text-align: center; font-size: 0; margin: 1em 0;}
.badge-container img {height: 45px; margin: 16px;}

/* Applications */
.button-description {vertical-align: middle; padding: 1.5em 0;}
.button-description img {width: 64px; float: left;}
.button-description div {width: calc(100% - 80px); float: left; padding-left: 16px;}
.button-description p,
.button-description h4 {margin: 0;}
.button-description:after {display: table; content: ''; clear: both;}


.screenshots img + div {text-align: center; height: 48px;}

@media screen and (min-width: 768px) {
	#header i {display: none;}
	#nav ul #nav-close-item {display: none;}
}

@media screen and (max-width: 767px) {
	/* Header */
	#header { width: 100%; background: #8DCF8A; position: fixed; top: 0; left: 0;font-size: 24px; padding: 0;}
	#header i {color:#162856; font-size: 1.33em; position: fixed; top: 0; padding: 6px; cursor: pointer;}
	#header i:first-child {left: 0;}
	#header i:last-child {right: 0;}
	#title {font-size: 24px; line-height: 48px;}
	#title img {height: 36px; width: 36px; padding: 4px 0;}
	#subtitle {display: none;}

	#nav { border-right: solid 1px #162856; height: 100%; width: 66.67%; position: fixed; left: -66.67%; top: 0;}
	#nav ul li,
	.nav-tabs ul li {display: block; border-bottom: solid 1px #162856;}
}

@media screen and (max-width: 639px) {
	.new-navigation-links > ul > li,
	.new-navigation-links > ul > li > a + ul{ width: 100%; }
	.new-navigation-links > ul > li > a + ul {left: 0; margin-left: 0; position: relative; top: 0;}

	.new-navigation-links.autohide ul {display: none}
	.new-navigation-links.autohide #toggle-button {display: block;}

}


@media screen and (max-width: 480px) {
	h1,
	h1 a,
	.subheader {text-align: center; display: block}

	.col-xxs-6 {width: 50%;}
	.col-xxs-12 {width: 100%;}
	.col-xxs-offset-3 {margin-left: 25%;}


}

