/* color HEX values in XML
<color name="brown">#AA6C39</color>
<color name="brown_lighter">#D49A6A</color>
<color name="brown_lightest">#FFD1AA</color>
<color name="brown_darker">#804515</color>
<color name="brown_darkest">#552600</color>

<color name="blue">#2E4272</color>
<color name="blue_lighter">#4F618F</color>
<color name="blue_lightest">#7887AB</color>
<color name="blue_darker">#162856</color>
<color name="blue_darkest">#061539</color>

<color name="green">#328A2E</color>
<color name="green_lighter">#5AAC56</color>
<color name="green_lightest">#8DCF8A</color>
<color name="green_darker">#166711</color>
<color name="green_darkest">#034500</color>
*/

html {background: white}
body {background: linear-gradient(#b6c3e2, #fff);}
div, ul, li, a {box-sizing: border-box;}
img {max-width: 100%;}

/* Various */
.large-margin-top {margin-top: 75px;}
.light-background {background: #edf0f8}

/* input row and group fix */
.input-row > div {margin-top: 15px;}
.input-group-addon {border-left: none;}

/* nav-tabs fix */
.nav-tabs.nav-justified {border-bottom: solid 1px #061539;}
.nav-tabs.nav-justified>li {vertical-align: bottom;}

/* Fonts and Text Colors */
#title {font-family:"Courier New" serif; color: #162856;}
h1,
h2,
h3,
h4,
h5,
h6 {font-family:"Arial Black", Gadget, sans-serif; color: #162856;}
div,
p,
em,
strong,
#subtitle,
a,
a:visited,
a:link {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
a,
a:visited,
a:link,
a h4 {font-weight: bold; color: #328A2E;}
a:hover,
a h4:hover {color: #034500;}

/* Font Styles */
h1 {margin-top: 0;}
h2 { text-align: center; margin-top: 2em;}
p {line-height: 1.4em; margin-bottom: 1em}
.subheader {font-size: 1.6em; margin: 1em 0;}

/* Helpers */
.center {text-align: center; margin: 0 auto;}
.left {float: left;}
.right {float: right;}
.description p,
.indented {text-indent: 32px;}
.clearfix:after {display: table; content: ''; clear: both;}
.hidden {display: none;}
.scroll-x {overflow-x: scroll;}
.container-no-padding {margin: 0 -15px;}

/* Navbar */
.navbar {background-color: #061539; border: none; z-index: 20}
.navbar .dropdown-menu ul {margin-left: 0;}
.navbar .dropdown-menu ul li {color: inherit;}

/* Navigation links (for index.py pages) */
.navigation-links h4 {margin-top: 0}
.navigation-links ul {display: table; margin: 0 auto;}
.navigation-links li {display: block;}
.navigation-links li a {display: table; margin: 4px 0;}
.navigation-links li a.no-icon {text-align: center; margin: 4px auto; }
.navigation-links li a span {display: table-cell; line-height: 32px;}

/*
* NEW
*/
#navigation-links {background-color: #061539;}
#navigation-links > ul { width: 100%; list-style: none; padding: 0; margin-bottom: 0;}
#navigation-links > ul > li {width: 20%;display: inline-flex; position: relative;}
#navigation-links > ul > li > a {padding: 15px; width: 100%; text-align: center; line-height: 20px;}
#navigation-links > ul > li > a + ul {position: absolute; display: none; background-color: #061539; padding: 0; margin-top: 50px;width: 200px; left: 50%; margin-left: -100px;}
#navigation-links > ul > li > a + ul > li {display: block; text-align: center;}
#navigation-links > ul > li > a.active + ul,
#navigation-links > ul > li > a:hover + ul, 
#navigation-links > ul > li > a + ul:hover {display: block;}
#navigation-links > ul > li > a + ul > li,
#navigation-links > ul > li > a + ul > li > a {padding: 15px }
#navigation-links > ul > li > a + ul > li > a { }





#headers {text-align: center;}
#headers #feature-graphic,
#headers #feature-graphic img {width: 100%;}
#headers .title {margin: 100px 0 15px;}
#headers .subtitle {margin: 15px;}
#headers .links {margin: 15px 0 100px;}
#headers .logo { margin: 15px; }
#headers .logo img { margin: 0 auto; }



#description {}
#description h2 {margin-top: 0;}
#description .description-group {margin: 15px auto 85px;}
#description .description-group h2 {text-transform: uppercase;}
#description .description-group ul li {margin: 15px 0;}
#description h2,
#description .screenshot {margin: 5px auto;}
#description .screenshot {margin: 0 auto;position: relative;}
#description .screenshot img {position: absolute;}

#description .screenshot.android-wear-screenshot {background: url("../img/android-wear-background.png"); width: 250px; height: 350px; }
#description .screenshot.android-wear-screenshot img { width: 230px; height: 230px; top: 60px; left: 10px;}


#bottom-links {margin: 75px auto 50px; text-align: center;}
#bottom-links .badge-container { margin: 0 auto 50px; }


/* Tables */
.table>tbody>tr>td {vertical-align: middle;}

.winner:nth-of-type(even) {background-color: #BFFFBF;}
.winner:nth-of-type(odd) {background-color: #E5FFE5;}
.alternate-high:nth-of-type(odd) {background-color: #FFFFBF;}
.alternate-high:nth-of-type(even) {background-color: #FFFFE5;}
.alternate-low:nth-of-type(odd) {background-color: #aaaaaa;}
.alternate-low:nth-of-type(even) {background-color: #cccccc;}

/* Social links */
.navigation-links .social-links li {margin-top: 8px; display: inline-block;}
.navigation-links .social-links li a { margin: 4px 8px;}

/* Footer */
#footer {width: 100%; text-align: center; margin: 2em auto 0; padding: 1em 0; position: relative; background: #b6c3e2;}
#footer p {font-size: .8em; margin: 0; }
#footer ul {margin: 0 0 1em; list-style: none; padding: 0; display: inline-block; font-size: .8em;}
#footer ul li {display: table-cell;}
#footer ul li a {margin: 1em; text-align: center; display: block;}

/* Home page */
.badge-container {text-align: center; font-size: 0; margin: 1em 0;}
.badge-container img {height: 45px; margin: 16px;}

/* Applications */
.button-description {vertical-align: middle; padding: 1.5em 0;}
.button-description img {width: 64px; float: left;}
.button-description div {width: calc(100% - 80px); float: left; padding-left: 16px;}
.button-description p,
.button-description h4 {margin: 0;}
.button-description:after {display: table; content: ''; clear: both;}


.screenshots img + div {text-align: center; height: 48px;}

@media screen and (min-width: 768px) {
	#header i {display: none;}
	#nav ul #nav-close-item {display: none;}
}

@media screen and (max-width: 767px) {
	/* Header */
	#header { width: 100%; background: #8DCF8A; position: fixed; top: 0; left: 0;font-size: 24px; padding: 0;}
	#header i {color:#162856; font-size: 1.33em; position: fixed; top: 0; padding: 6px; cursor: pointer;}
	#header i:first-child {left: 0;}
	#header i:last-child {right: 0;}
	#title {font-size: 24px; line-height: 48px;}
	#title img {height: 36px; width: 36px; padding: 4px 0;}
	#subtitle {display: none;}

	#nav { border-right: solid 1px #162856; height: 100%; width: 66.67%; position: fixed; left: -66.67%; top: 0;}
	#nav ul li,
	.nav-tabs ul li {display: block; border-bottom: solid 1px #162856;}
}

@media screen and (max-width: 640px) {
}


@media screen and (max-width: 480px) {
	h1,
	h1 a,
	.subheader {text-align: center; display: block}

	.col-xxs-6 {width: 50%;}
	.col-xxs-12 {width: 100%;}
	.col-xxs-offset-3 {margin-left: 25%;}
}

