<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="Roku Graphic" src="/assets/img/roku/feature_graphic.png">
	</div>
	<div class="title">
		<h1>Roku Remote</h1>
	</div>
	<div class="subtitle">
		<h4>Control all functions of Roku devices and TVs from any Android phone or watch.</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Roku Icon" src="/assets/img/roku/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.brohkahn.rokuremote">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>
		</div>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>Tired of losing your remote? The Roku Remote app will let you have your remote on the phone in your pocket and on the watch on your wrist. Now you can play, pause, and rewind whatever is playing on your Roku straight from your Android devices. If you have a Roku TV, you will also gain control of the TV volume and power straight from your favorite device. Roku Remote is compatible with any Android device and works with any Roku TV/Stick/Hub on the same network as your Android phone or watch.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/roku/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>CONTROL CURRENT SHOW</h2>
			<p>First page controls all aspects of what's currently playing</p>
			<ul>
				<li>Volume</li>
				<li>Play</li>
				<li>Pause</li>
				<li>Fast forward</li>
				<li>Rewind</li>
				<li>Info/options</li>
			</ul>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>BROWSE CHANNELS</h2>
			<p>Use 2nd and 3rd pages to browse Roku channels and find what you want to watch</p>
			<ul>
				<li>Navigate channels</li>
				<li>Channel options</li>
				<li>Fast forward</li>
				<li>Rewind</li>
				<li>Info/options</li>
				<li>Channel shortcuts</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/roku/screenshots/2.png" alt="Screenshot 2">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-wear-screenshot screenshot">
				<img src="/assets/img/roku/screenshots/3.png" alt="Screenshot 3">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>AVAILABLE OPTIONS</h2>
			<p>Options for both phone and watch app</p>
			<ul>
				<li>Proxy requests through phone (watch Wifi connection preferred for speed and battery)</li>
				<li>Long press button option</li>
				<li>Number of commands to repeat per second during long press</li>
				<li>How many commands skip forward or backward use</li>
			</ul>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>PHONE APPLICATION</h2>
			<p>Phone application has it's own remote app and can also act as proxy to Roku</p>
			<ul>
				<li>Volume</li>
				<li>Play</li>
				<li>Pause</li>
				<li>Fast forward</li>
				<li>Rewind</li>
				<li>Info/options</li>
				<li>Channel options</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/roku/screenshots/4.png" alt="Screenshot 4">
			</div>
		</div>
	</div>
	<h2>FAQ</h2>
	<h4>How do I find the right address for my Roku device?</h4>
	<p>You can find the IP address by visiting Settings > Network > About on your Roku device. The IP address will probably look something like "192.168.0.XXX" or "192.168.1.XXX" where XXX is a number from 1 to 255.</p>
	<h4>I'm having trouble controlling my Roku from my Wear OS watch.</h4>
	<p>Make sure that the Wifi on your watch is enabled and it is connected to the same network as your Roku device. If your watch cannot connect to Wifi, you can have commands be sent through the mobile companion app on the Android phone paired to your watch. To enable this, go into the Settings on your watch by swiping down from the top of the first page and enabling "Proxy through phone."</p>
	<p>*Note: you should ensure that the companion app on your phone is configured to use the correct address for your Roku.</p>
</div>

<div class="links" id="bottom-links">
	<h4>Download Roku Remote</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.brohkahn.rokuremote">
			<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
		</a>
	</div>

	<h4>Request source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/roku-remote">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/Roku-Watch-Face">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
