<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="Music Home Graphic" src="/assets/img/music_home/feature_graphic.png">
	</div>
	<div class="title">
		<h1>Music Home</h1>
	</div>
	<div class="subtitle">
		<h4>A combination of poker and bridge that's easy to learn and fun to play</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Music Home Icon" src="/assets/img/music_home/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.acrilogic.musichome">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>
			<a target="_blank" class="apple-badge" href="https://itunes.apple.com/us/app/music-home-trial/id1047453905">
				<img alt="Find in App Store" src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
			</a>
		</div>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>Music Home is an app that allows you to easily and quickly control music from a variety of players. Through Music Home's lightweight screen saver and efficient home screen, your music will always be just a tap away. Hate having to unlock your phone to choose the next song? Don't want to fiddle for the power button to turn your screen on? Then Music Home is the perfect app for you!</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/music_home/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>SCREENSAVER</h2>
			<p>The prime feature of Music Home is its screen saver. The screen saver is a highly efficient page that displays only the current artist and track title with a black background. By preventing the screen from turning off and the device from locking, the application allows for quick wakeups from the screen saver with a simple tap on the screen. In case you're worried about screen burn, fear not: the "Now Playing" info on the screen saver continuously moves about the screen, preventing a portion of the device display from being on and fully colored for an extended period of time. The screen saver will automatically start before the the device's screen timeout setting, or you can manually start the screen saver via the "Sleep" button.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>CONTROL</h2>
			<p>Music Home is designed to control one music application at a time. To select which application to control on Android, press the settings icon at the top right of the "Now Playing" pane, then press "Select music app". Since iOS only allows control of the system music application, Music Home on iPhones and iPads will only control the iTunes app.</p>
		</div>
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/music_home/screenshots/2.png" alt="Screenshot 2">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/music_home/screenshots/3.png" alt="Screenshot 3">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>FEATURES</h2>
			<ul>
				<li>Control iTunes music app (iOS only)</li>
				<li>Control any of the following music apps (Android only)
					<ul>
						<li>Google Play Music</li>
						<li>Spotify</li>
						<li>Amazon Prime Music</li>
						<li>Poweramp</li>
						<li>Samsung Music Player</li>
						<li>Any music app! <em>(<a href="mailto:kevin@broh-kahn.com">email me</a> to make a request)</em></li>
					</ul>
				</li>
				<li>Screen saver that keeps screen on in low power setting without locking device</li>
				<li>Control media volume level</li>
				<li>Pressing now playing pane opens current media app (Android only)</li>
				<li>Choose light or dark theme, or select a schedule for light and dark themes</li>
				<li>Automatically change theme based on device brightness. Useful when using auto brightness for device (iOS only)</li>
			</ul>	
		</div>
	</div>

</div>

<div class="links" id="bottom-links">
	<h4>Download Music home for free</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.acrilogic.musichome">
			<img alt="Get it on Google Play" src="/assets/img/en_generic_rgb_wo_45.png" />
		</a>
		<a target="_blank" class="apple-badge" href="https://itunes.apple.com/us/app/music-home-trial/id1047453905">
			<img alt="Find in App Store" src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
		</a>

	</div>


	<h4>Purchase full version (iOS)</h4>
	<div class="badge-container">
		<a target="_blank" class="apple-badge" href="https://itunes.apple.com/us/app/music-home/id1047442325">
			<img alt="Find in App Store" src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
		</a>
	</div>

	<h4>Request Android source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/music-home-android">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
<!-- 		<a target="_blank" href="https://github.com/kbrohkahn/music-home-android">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>

	<h4>Request iOS source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/music-home-ios">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/music-home-ios">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
