<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="RSS Wallpaper Graphic" src="/assets/img/rss-wallpaper/feature_graphic.png">
	</div>
	<div class="title">
		<h1>RSS Wallpaper</h1>
	</div>
	<div class="subtitle">
		<h4>Download images in any RSS feed and see new wallpapers throughout the day</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="RSS Wallpaper Icon" src="/assets/img/rss-wallpaper/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=com.play2think.rss-wallpaper">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>
		</div>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>RSS Wallpaper is the best way to get cool new images on your device every day. Looking for a new wallpaper? RSS Wallpaper can set a new one every day. Want to set up an awesome screensaver? RSS Wallpaper can download images to your device or SD card for you to use as a source for your slideshow. And if you're concerned about the storage space on your device, RSS Wallpaper can compress new photos before they're downloaded and purge old ones once they're no longer in use</p>
		</div>
	</div>

	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/rss-wallpaper/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>FEATURES</h2>
			<ul>
				<li>Play games with hands from as little as 1 card to as many as 13</li>
				<li>Play against 1, 2, or 3 robot opponents</li>
				<li>Select your game's difficulty</li>
				<li>Take a tutorial to learn the basics of bidding and trick taking in Ratfink</li>
				<li>Arrange the way the suits are ordered in your hand</li>
				<li>Customize the game to your liking</li>
			</ul>
		</div>
	</div>
</div>

<div class="links" id="bottom-links">
	<h4>Download RSS Wallpaper for free (Android)</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=com.brohkahn.rsswallpaper">
			<img alt="Get it on Google Play" src="/assets/img/en_generic_rgb_wo_45.png" />
		</a>

	</div>

	<h4>View source</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/rss-wallpaper">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/rss-wallpaper">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
