<div class="navigation-links hoverable fixed" id="navigation-links">
	<div class="mobile-header">
		<div id="toggle-button">
			<img src="/assets/img/logo.png">
		</div>
	</div>

	<ul>
		<li>
			<a class="section-link" href="/index.py#android">Android</a>
			<ul>
				<li><a class="subsection-link" href="/index.py#android">Show all</a></li>
				<li><a href="/ratfink">Ratfink Card Game</a></li>
				<li><a href="/music-home">Music Home Remote</a></li>
				<li><a href="/ping-servers">Ping Servers</a></li>
				<li><a href="/rss-wallpaper">RSS Wallpaper Downloader</a></li>
				<li><a href="/wbc">WBC Schedule</a></li>
				<li><a href="/prezcon">Prezcon Schedule</a></li>
				<li><a href="/roku">Roku Remote</a></li>
			</ul>
		</li>
		<li>
			<a class="section-link" href="/index.py#ios">iOS</a>
			<ul>
				<li><a class="subsection-link" href="/index.py#ios">Show all</a></li>
				<li><a href="/ratfink">Ratfink Card Game</a></li>
				<li><a href="/music-home">Music Home Remote</a></li>
			</ul>
		</li>
		<li>
			<a class="section-link" href="/index.py#android-wear">Android Wear</a>
			<ul>
				<li><a class="subsection-link" href="/index.py#android-wear">Show all</a></li>
				<li><a href="/omega">Omega Watch Face</a></li>
				<li><a href="/notro">Notro Watch Face</a></li>
				<li><a href="/alenoi">Alenoi Watch Face</a></li>
				<li><a href="/charging-wear">Charging Wear</a></li>
				<li><a href="/roku">Roku Remote</a></li>
			</ul>
		</li>
		<li>
			<a class="section-link" href="/index.py#web">Web</a>
			<ul>
				<li><a class="subsection-link" href="/index.py#web">Show all</a></li>
				<li><a href="/sixsided">SixSided</a></li>
				<li><a href="/view-recipes">View Recipes</a></li>
				<li><a href="/website">My website</a></li>
			</ul>
		</li>
		<!-- <li>
			<a class="section-link" href="/index.py#other">Other</a>
			<ul>
				<li><a class="subsection-link" href="/index.py#other">Show all</a></li>
				<li><a href="/power-grid">Power Grid Tournament</a></li>
			</ul>
		</li> -->
		<li>
			<a href="/contact.py">Contact</a>
		</li>
	</ul>
</div>
