<div id="headers">
	<div id="feature-graphic">
		<img class="img-responsive" alt="WBC Graphic" src="/assets/img/wbc/feature_graphic.png">
	</div>
	<div class="title">
		<h1>WBC</h1>
	</div>
	<div class="subtitle">
		<h4>The official application of the World Boardgaming Championships</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="WBC Icon" src="/assets/img/wbc/icon.png">
	</div>
	<div class="links">
		<div class="badge-container">
			<a target="_blank" href="https://play.google.com/store/apps/details?id=org.boardgamers.wbc">
				<img alt="Get it on Google Play" src="/assets/img/social-links/en_generic_rgb_wo_45.png" />
			</a>
		</div>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p class="indented">This is the official app of the World Boardgaming Championships, the largest event presented by the Boardgame Players Association (BPA). From August 3-9, 2015, join us at the Lancaster Host Resort in Lancaster, PA, USA for a week of various board game tournaments, auctions, and vending. Board gamers, players, collectors, and game enthusiasts of all ages and experience levels are welcome. Visit <a target="_blank" href="http://boardgamers.org/landing.shtml">the WBC web site</a> for more info.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/wbc/screenshots/2.png" alt="Screenshot 2">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>PERSONAL SCHEDULE</h2>
			<p>Use the WBC app to star events and save them to your personal schedule. In the “Starred” view, you can view your entire personal schedule on a day by day basis. In the full “Schedule” view, you can view your started schedule along with the entire WBC schedule, however your events will appear under each hour of the convention they fall into. By collapsing the event list for each hour, the headers will display your schedule on an hourly basis.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>CUSTOM EVENTS</h2>
			<p>Create your own events add to your schedule. Just add a name, time, location, and which days of the convention your event will occur. You can also use the schedule sharing feature to export your custom events, along with your full personal schedule, and share them with your friends, coworkers, or other devices.</p>
		</div>
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/wbc/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/wbc/screenshots/4.png" alt="Screenshot 4">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>NOTIFICATIONS</h2>
			<p>The WBC app will notify you when your starred events are about to start. By default, the notification interval is 5 minutes, which ought to be enough time to reach any room in the hotel. Those of you whose room is more of a walk need not fear, for the application allows you to set your own notification time to anything from minute to an hour.</p>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-8">
			<h2>MAP</h2>
			<p>Use the hotel map built into WBC to ensure your never get lost among the hysteria of the convention.  WBC has a large variety of events, so some events are in rooms so small their name does not fit in the map. But if you select an event from the schedule, the room for your event will flash on the map so you can see the events location and know where to go.</p>
		</div>
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/wbc/screenshots/3.png" alt="Screenshot 3">
			</div>
		</div>
	</div>
	<div class="row description-group">
		<div class="col-sm-4">
			<div class="android-mobile-screenshot screenshot">
				<img src="/assets/img/wbc/screenshots/1.png" alt="Screenshot 1">
			</div>
		</div>
		<div class="col-sm-8">
			<h2>FEATURES</h2>
			<ul>
				<li>Offline storage of schedule (app does not require internet connection after download)</li>
				<li>View entire WBC schedule by day and hour</li>
				<li>View schedule of individual tournament</li>
				<li>Find rooms on hotel map</li>
				<li>Create personalized schedule for your week at WBC</li>
				<li>Add events to your individual schedule</li>
				<li>Filter tournaments and non-tournaments out of your schedule</li>
				<li>Edit and view all your tournament finishes</li>
				<li>Create and share notes for individual events</li>
			</ul>
		</div>
	</div>
</div>

<div class="links" id="bottom-links">
	<h4>Download WBC for free</h4>
	<div class="badge-container">
		<a target="_blank" href="https://play.google.com/store/apps/details?id=org.boardgamers.wbc">
			<img alt="Get it on Google Play" src="/assets/img/en_generic_rgb_wo_45.png" />
		</a>

	</div>

	<h4>Request Android source access</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/wbc-android">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/wbc">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
