<div id="headers">
	<div class="title">
		<h1>This website</h1>
	</div>
	<div class="subtitle">
		<h4>A site for displaying all of the projects and applications I have created</h4>
	</div>
	<div class="logo">
		<img class="img-responsive" alt="Alenoi Icon" src="/assets/img/kevin.broh-kahn.com/icon.png">
	</div>
	<div class="links">
		<a href="http://kevin.broh-kahn.com"><h4>Browse</h4></a>
	</div>
</div>

<div id="description" class="container-fluid">
	<div class="row description-group">
		<div class="col-sm-8 col-sm-offset-2">
			<p>Welcome to my website / portfolio / resume! I made this website to track and show off all of my applications and projects I've worked on over the years. Most of my work has been for <a href="/index.py#android">Android devices</a> (phones, tablets, plus <a href="/index.py#android-wear">watches</a>) so you should definitely have one of those if you'd like to try everything out, but I've also created a few <a href="/index.py#ios">applications</a> for iPhones and iPads running iOS and <a href="/index.py#web">websites</a> that work anywhere.</p>
		</div>
	</div>
</div>

<div class="links" id="bottom-links">
	<h4>Browse now</h4>
	<div class="badge-container">
		<a href="http://kevin.broh-kahn.com">
			<img alt="Browse on kevin.broh-kahn.com" src="/assets/img/kevin.broh-kahn.com/icon.png">
		</a>
	</div>

	<h4>View source</h4>
	<div class="badge-container">
		<a target="_blank" href="https://bitbucket.org/kbrohkahn/kevin.broh-kahn.com">
			<img alt="View on Bitbucket" src="/assets/img/social-links/bitbucket_rgb_slate_45px.png">
		</a>
		<!-- <a target="_blank" href="https://github.com/kbrohkahn/kevin.broh-kahn.com">
			<img alt="View on Github" src="/assets/img/social-links/GitHub_Logo_45px.png">
		</a> -->
	</div>
</div>
