Content-type:text/html

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simple login page</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
	<link href="/assets/css/jquery-ui.min.css" rel="stylesheet">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
	
	<script src="/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="/assets/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>